
* {
    text-align: center;
    font-size: 20px;
    margin:0;
    padding: 0;
    font-size: medium;

}
.anybody-gg{
    font-family: "Anybody", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.emphasis {
    font-size: 21px;
    font-weight: bold;
}
.individual-project {
    display: flex;
    justify-content: flex-end;
}
 


.profile-pic {
    object-fit: fill;
    height:200px;
    width: 180px;
    border: 6px rgb(59, 200, 224);
    border-style: double ;
    border-radius: 15px 50px
 
}


.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url(https://img.freepik.com/free-photo/abstract-technology-background-connecting-dots-digital-network-design_53876-160285.jpg?w=1800&t=st=1708613184~exp=1708613784~hmac=90026bdac6aac3620148c0f19b54236654a188483b475e0e8fd9ecce1b3af07b)
}

.connect-link {
color: rgb(236, 188, 56)
}

.year {
    display: flex;
align-items: center;
text-decoration: overline solid;
font-size: 45px;
}